<div class="col-md-12">
  <table class="table table-hover">
    <thead>
    <tr>
      <td>#</td>
      <td>title</td>
      <td>description</td>
      <td>time</td>
      <td>上限</td>
      <td>下限</td>
      <td>邮箱</td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>#</td>
        <td><%= link_to(@job.title) %></td>
        <td><%= @job.description %></td>
        <td><%= @job.created_at %></td>
        <td><%= @job.wage_upper_bound %></td>
        <td><%= @job.wage_lower_bound %></td>
        <td><%= @job.contact_email %></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
</div>